<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="chassis_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="left_wheel">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="right_wheel">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="caster_wheel">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>/joint_states</topic>
            <joint>caster_joint</joint>
            <joint>left_wheel_joint</joint>
            <joint>right_wheel_joint</joint>
        </plugin>

        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <!-- Remove <ros> tag. -->
          
            <!-- wheels -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
          
            <!-- kinematics -->
            <wheel_separation>0.220</wheel_separation>
            <wheel_radius>0.0375</wheel_radius> <!-- computed from <wheel_diameter> in the original plugin-->
          
            <!-- limits -->
            <max_linear_acceleration>0.033</max_linear_acceleration> <!-- computed from <max_linear_acceleration> in the original plugin-->
          
            <topic>cmd_vel</topic> <!-- from <commant_topic> -->
          
            <odom_topic>odom</odom_topic> <!-- from <odometry_topic> -->
            <frame_id>world</frame_id> <!-- from <odometry_frame> -->
            <child_frame_id>base_footprint</child_frame_id> <!-- from <robot_base_frame> -->
            <odom_publisher_frequency>30</odom_publisher_frequency> <!-- from <update_rate>-->
          
            <tf_topic>/tf</tf_topic> <!-- Short topic name for tf output -->
          
          </plugin>
    </gazebo>

    
</robot>